<!-- <app-sidenav></app-sidenav> -->
<div class="container bg-light" style="padding-bottom: 15px; padding-top: 15px;">
    <div class="row">
        <div class="col-lg-12">
            <nav>
                <ul class="breadcrumb">
                    <li>Home</li>
                    <li>Add Company </li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="col-md-8 offset-md-2 mt-5" >

        <div class="card">
            <div class="card-body">
                <div class="form-group">
                    <span>
                        <h4 style="font-family: Calibri" runat="server">ADD COMPANY</h4>
                    </span>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-sm mb-3">
                        <label class="input-group-text btn btn-primary">COMPANY *</label>
                        <select class="dropdown form-control form-control-bg chosen-select" required>
                            <option value="" disabled selected>--SELECT COMPANY--</option>
                            <option value="company1">Company 1</option>
                            <option value="company2">Company 2</option>
                            <option value="company3">Company 3</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group input-group-sm mb-3">
                                <label class="input-group-text btn btn-primary">FOLIO/DPCL *</label>
                                <input type="text" id="txt_Folio" runat="server" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="input-group input-group-sm mb-3">
                                <label class="input-group-text btn btn-primary">TOTAL FOLIO HOLDING *</label>
                                <input type="text" id="txt_Holding" runat="server" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <span>Description</span>
                            <div class="input-group input-group-sm mb-3">
                                <label class="input-group-text btn btn-primary">CERTIFICATE NO. *</label>
                                <input type="text" id="txt_Cert" runat="server" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="btn btn-primary">Upload Certificate scan image *</label>
                            <input type="file" class="form-control" aria-label="Small"
                                aria-describedby="inputGroup-sizing-sm" name="upload" accept=".pdf" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <span>Description</span>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text btn btn-primary">START DIST. NO. *</span>
                                <input type="text" id="txt_start" runat="server" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <span>Description</span>
                            <div class="input-group input-group-sm mb-3">
                                <span class="input-group-text btn btn-primary">END DIST. NO. *</span>
                                <input type="text" id="txt_end" runat="server" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="input-group input-group-sm mb-3">

                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group input-group-sm mb-6">
                        <div class="center-block">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>