<body class="reg-form">
    <div class="container">
        <form [formGroup]="registrationForm" (ngSubmit)="register()">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="login-logo">
                            <div class="col-lg-12" id="registration_form">
                                <img src="assets/reg.svg" alt="Registration" style="padding-top: 90px; width: 85%" />
                            </div>
                        </div>
                    </div> 

                    <div class="col-lg-5">
                        <div class="login-box">
                            <div class="login-logo">
                                <div class="col-lg-12" id="registration_form">
                                    <a href="/registration">
                                        <img src="assets/Image/big-share-logo.png" border="0"
                                            alt="Bigshare Services" /></a>
                                </div>
                            </div>

                            <div id="registration" class="card">
                                <div class="card-body">
                                    <h4>Create a new account</h4>

                                    <div class="row" id="Registrationform">
                                        <div class="form-group txtbox-padding">
                                            <div class="col-md-12">
                                                <input type="text" 
                                                class="form-control input-sm" 
                                                placeholder="Name" 
                                                formControlName="name"
                                                autocomplete="off" required />
                                                <div *ngIf="registrationForm.get('name')?.touched">
                                                    <div *ngIf="registrationForm.get('name')?.hasError('required')">Name is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group txtbox-padding">
                                            <div class="col-md-12">
                                                <input type="email" 
                                                class="form-control input-sm" 
                                                placeholder="Email"
                                                formControlName="email"
                                                autocomplete="off" required />
                                                <div *ngIf="registrationForm.get('email')?.touched">
                                                    <div *ngIf="registrationForm.get('email')?.hasError('required')">Email is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group txtbox-padding">
                                            <div class="col-md-12">
                                              <input type="text" class="form-control input-sm"
                                                     placeholder="Mobile No." maxlength="10" 
                                                     formControlName="mobile" 
                                                     autocomplete="off" required />
                                              <div *ngIf="registrationForm.get('mobile')?.touched">
                                                <div *ngIf="registrationForm.get('mobile')?.hasError('required')">Mobile number is required</div>
                                                <div *ngIf="registrationForm.get('mobile')?.hasError('onlyNumbers')">Please enter only numbers</div>
                                              </div>
                                            </div>
                                          </div>                                          
                                          <div class="form-group txtbox-padding">
                                            <div class="col-md-12">
                                              <input
                                                type="text"
                                                class="form-control input-sm"
                                                placeholder="PAN Number"
                                                maxlength="10"
                                                formControlName="pan"
                                                (input)="onPanInputChange($event)"
                                              />
                                              <div *ngIf="registrationForm.get('pan')?.invalid && registrationForm.get('pan')?.touched">
                                                <div *ngIf="registrationForm.get('pan')?.hasError('required')">PAN is required</div>
                                                <div *ngIf="registrationForm.get('pan')?.hasError('pattern')">Invalid PAN format</div>
                                              </div>
                                            </div>
                                          </div>
                                        <div class="form-group txtbox-padding">
                                            <div class="col-md-12">
                                                <input type="password" class="form-control input-sm"
                                                placeholder="Password" 
                                                formControlName="password" 
                                                required />
                                                <div *ngIf="registrationForm.get('password')?.touched">
                                                    <div *ngIf="registrationForm.get('password')?.hasError('required')">Password is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group txtbox-padding">
                                            <div class="col-md-12">
                                                <input type="password" class="form-control input-sm"
                                                    placeholder="Confirm Password" 
                                                    formControlName="confirmPassword" />
                                                <div *ngIf="registrationForm.get('confirmPassword')?.invalid && registrationForm.get('confirmPassword')?.touched" style="color: red;">Passwords do not match.</div>
                                            </div>
                                        </div>
                                        <div class="form-group txtbox-padding">
                                            <div class="row">
                                              <div class="col-md-6">
                                                <div class="mb-3 d-flex align-items-center">
                                                    <canvas #captchaCanvas width="150" height="40" style="border: 1px solid; border-radius: 5px;"></canvas>
                                                  <button type="button" class="btn btn-secondary" style="margin-left: 15px;" (click)="refreshCaptcha()">
                                                    <i class="fa fa-refresh"></i>
                                                  </button>
                                                </div>
                                              </div>
                                              <div class="col-md-6">
                                                <div class="mb-3">
                                                  <input type="text" class="form-control" placeholder="Enter Captcha" [formControl]="captchaControl" required />
                                                  <div *ngIf="registrationForm.get('captcha')?.invalid && (registrationForm.get('captcha')?.dirty || registrationForm.get('captcha')?.touched)" style="color: red;">Invalid Captcha.</div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        <div class="form-group txtbox-padding">
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <button 
                                                    type="submit" 
                                                    class="btn btn-primary btn-sm" 
                                                    [disabled]="registrationForm.invalid">Register
                                                    </button>
                                                </div>
                                                <div class="col-md-9">
                                                    If you have already registered <a href="/login">Login</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
