<section id="content-wrapper">
    <div class="row">
        <div class="col-sm-4 mt-4">
            <div class="card mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8 pl-4">
                                <h6 class="card-headings"><strong>Holding</strong>
                                    <br />
                                    <span>Details</span> </h6>
                                <p>You ask and We Answer all your Queries.</p>
                                <a href="../Investor/holdingDetails.aspx" class="btn btn-primary btn-sm">Proceed</a>
                            </div>
                            <div class="col-4">
                                <div class="card-body-icon">
                                    <i class="fa fa-wpforms" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mt-4">
            <div class="card mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8 pl-4">
                                <h6 class="card-headings"><strong>Service</strong>
                                    <br />
                                    <span>Request/Complaint</span> </h6>
                                <p>Check KYC Status of your physical folios</p>
                                <a href="../Investor/EquityServiceRequest.aspx" class="btn btn-primary btn-sm">Proceed</a>
                            </div>
                            <div class="col-4">
                                <div class="card-body-icon">
                                    <i class="fa fa-wpforms" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mt-4">
            <div class="card mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8 pl-4">
                                <h6 class="card-headings"><strong>Track Service</strong>
                                    <br />
                                    <span>Request/Complaint</span> </h6>
                                <p>Check KYC Status of your physical folios</p>
                                <a href="../Investor/Track_ServiceRequest.aspx" class="btn btn-primary btn-sm">Proceed</a>
                            </div>
                            <div class="col-4">
                                <div class="card-body-icon">
                                    <i class="fa fa-wpforms" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 mt-4">
            <div class="card mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8 pl-4">
                                <h6 class="card-headings"><strong>Post</strong>
                                    <br />
                                    <span>a Grievance</span> </h6>
                                <p>You ask and We Answer all your Queries.</p>
                                <a href="../Investor/Postquery.aspx" class="btn btn-primary btn-sm">Proceed</a>
                            </div>
                            <div class="col-4">
                                <div class="card-body-icon">
                                    <i class="fa fa-wpforms" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mt-4">
            <div class="card mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8 pl-4">
                                <h6 class="card-headings"><strong>Track</strong>
                                    <br />
                                    <span>a Grievance</span> </h6>
                                <p>Track the status of your posted queries.</p>
                                <a href="../Investor/Trackquery.aspx" class="btn btn-primary btn-sm">Proceed</a>
                            </div>
                            <div class="col-4">
                                <div class="card-body-icon">
                                    <i class="fa fa-edit"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mt-4">
            <div class="card mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8 pl-4">
                                <h6 class="card-headings"><strong>TDS Exemption</strong>
                                    <br />
                                    <span>Forms</span> </h6>
                                <p>Register Tax Exemption Forms and status</p>
                                <a href="../Investor/Exemption.aspx" class="btn btn-primary btn-sm">Proceed</a>
                            </div>
                            <div class="col-4">
                                <div class="card-body-icon">
                                    <i class="fa fa-wpforms" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 mt-4">
            <div class="card mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8 pl-4">
                                <h6 class="card-headings"><strong>Master Query</strong>
                                    <br />
                                    <span>Enquiry</span> </h6>
                                <p></p>
                                <a href="Master_Query.aspx" class="btn btn-primary btn-sm">Proceed</a>
                            </div>
                            <div class="col-4">
                                <div class="card-body-icon">
                                    <i class="fa fa-wpforms" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 mt-4">
            <div class="card mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-8 pl-4">
                                <h6 class="card-headings"><strong>Forms and</strong>
                                    <br />
                                    <span>Procedures</span> </h6>
                                <p></p>
                                <a href="../Investor/FormsProcedure.aspx" class="btn btn-primary btn-sm">Proceed</a>
                            </div>
                            <div class="col-4">
                                <div class="card-body-icon">
                                    <i class="fa fa-wpforms" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>